<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
            //Date Picker
            $(function () {
                $("#date").datepicker({
                    dateFormat: "dd/mm/yy"
                });
            });
    </script>
    
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">

                <table class="table table-responsive" style="width:auto">
                    <tr>
                        <td class="auto-style1"> Date </td>
                        <td colspan="5"> <input type="text" value="@DateTime.Now.ToShortDateString()" id="date" /> </td>
                    </tr>

                    <tr>
                        <td class="auto-style1"> Ref No </td>
                        <td> <input type="text" id="refNo" /> </td>
                        <td> Supplier </td>
                        <td colspan="3">
                            @*<select id="supplier" style="width:auto">
                                <option> Select </option>
                            </select>*@
                            @Html.DropDownList("supplier", new SelectList(ViewData["supplierList"] as string[]))

                        </td>
                    </tr>

                    <tr>
                        <td class="auto-style1"> Product Type </td>
                        <td>
                            <select id="type" style="width:auto" class="form-control">
                                <option> Select </option>
                            </select>
                        </td>
                        <td> Product Model </td>
                        <td colspan="3">
                            <select id="model" style="width:auto">
                                <option> Select </option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="auto-style1"> Product Quantity </td>
                        <td> <input type="text" id="quantity" /> </td>
                        <td> Unit price </td>
                        <td class="auto-style2"> <input type="text" id="unitPrice" class="auto-style3" /> </td>
                        <td> Sale price </td>
                        <td> <input type="text" id="salePrice" /> </td>
                    </tr>

                    <tr>
                        <td class="auto-style1"> Barcode </td>
                        <td> <input type="text" id="barcode" readonly="readonly" /> </td>
                        <td> Barcode Serial </td>
                        <td class="auto-style2">
                            <input id="barcodeSerial" class="auto-style4" />
                        </td>
                        <td> Color </td>
                        <td>
                            <select id="color" style="width:auto">
                                <option> Select </option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td class="auto-style1"> Description </td>
                        <td colspan="5"> <input type="text" id="description" class="form-control" /> </td>
                    </tr>

                </table>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    }
    
    @*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@
    
</body>
</html>
