
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post">
        <div>
            Username <input id="username" name="username" type="text" /> <br><br>
            Password <input id="password" name="password" type="text" /> <br><br>
            <input id="submit" type="submit" name="btn" value="Submit" class="btn btn-default" />
        </div>
    </form>
</body>
</html>
